<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>test.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newuser</servlet-name>
        <servlet-class>Newuser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newuser</servlet-name>
        <url-pattern>/newuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>publicsum</servlet-name>
        <servlet-class>PublicSum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>publicsum</servlet-name>
        <url-pattern>/publicsum</url-pattern>
    </servlet-mapping>

    <display-name>TestLogin01</display-name>

    <servlet>
        <servlet-name>top</servlet-name>
        <servlet-class>Top</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>top</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bottom</servlet-name>
        <servlet-class>Footer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bottom</servlet-name>
        <url-pattern>/bottom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminservlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminservlet</servlet-name>
        <url-pattern>/adminservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userservlet</servlet-name>
        <servlet-class>UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userservlet</servlet-name>
        <url-pattern>/userservlet</url-pattern>
    </servlet-mapping>
</web-app>